services:
	moduleManager:
		setup:
			- addModule(Crm\AppleAppstoreModule\AppleAppstoreModule())

	gatewayFactory:
		setup:
			- registerGateway(@Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway::GATEWAY_CODE, Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway)

	serverToServerNotificationProcessor: Crm\AppleAppstoreModule\Model\ServerToServerNotificationProcessor
	- Crm\AppleAppstoreModule\Api\ServerToServerNotificationWebhookApiHandler(@serverToServerNotificationProcessor)
	- Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway
	- Crm\AppleAppstoreModule\Model\AppleAppstoreValidatorFactory
	- Crm\AppleAppstoreModule\Repository\AppleAppstoreSubscriptionTypesRepository
	- Crm\AppleAppstoreModule\Repository\AppleAppstoreServerToServerNotificationLogRepository
	- Crm\AppleAppstoreModule\Seeders\ConfigsSeeder
	- Crm\AppleAppstoreModule\Seeders\PaymentGatewaysSeeder
