services:
	moduleManager:
		setup:
			- addModule(Crm\AppleAppstoreModule\AppleAppstoreModule())

	gatewayFactory:
		setup:
			- registerGateway(@Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway::GATEWAY_CODE, Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway)

	serverToServerNotificationProcessor: Crm\AppleAppstoreModule\Models\ServerToServerNotificationProcessor\ServerToServerNotificationProcessor
	serverToServerNotificationV2Processor: Crm\AppleAppstoreModule\Models\ServerToServerNotificationV2Processor\ServerToServerNotificationV2Processor
	- Crm\AppleAppstoreModule\Api\ServerToServerNotificationWebhookApiHandler
	- Crm\AppleAppstoreModule\Api\VerifyPurchaseApiHandler
	- Crm\AppleAppstoreModule\Api\VerifyPurchaseV2ApiHandler
	- Crm\AppleAppstoreModule\Components\StopRecurrentPaymentInfoWidget\StopRecurrentPaymentInfoWidget
	- Crm\AppleAppstoreModule\DataProviders\AccessTokenDataProvider
	- Crm\AppleAppstoreModule\DataProviders\ExternalIdAdminFilterFormDataProvider
	- Crm\AppleAppstoreModule\DataProviders\ExternalIdUniversalSearchDataProvider
	- Crm\AppleAppstoreModule\Events\PairDeviceAccessTokensEventHandler
	- Crm\AppleAppstoreModule\Events\RemovedAccessTokenEventHandler
	- Crm\AppleAppstoreModule\Gateways\AppleAppstoreGateway
	- Crm\AppleAppstoreModule\Models\AppleAppstoreValidatorFactory
	- Crm\AppleAppstoreModule\Models\AppStoreServerApiFactory
	- Crm\AppleAppstoreModule\Repositories\AppleAppstoreOriginalTransactionsRepository
	- Crm\AppleAppstoreModule\Repositories\AppleAppstoreSubscriptionTypesRepository
	- Crm\AppleAppstoreModule\Repositories\AppleAppstoreServerToServerNotificationLogRepository
	- Crm\AppleAppstoreModule\Repositories\AppleAppstoreTransactionDeviceTokensRepository
	- Crm\AppleAppstoreModule\Seeders\ConfigsSeeder
	- Crm\AppleAppstoreModule\Seeders\PaymentGatewaysSeeder
	- Crm\AppleAppstoreModule\Seeders\SnippetsSeeder
	- Crm\AppleAppstoreModule\Models\User\AppleAppstoreUserDataProvider
	- Crm\AppleAppstoreModule\Hermes\ServerToServerNotificationWebhookHandler(@serverToServerNotificationProcessor)
	- Crm\AppleAppstoreModule\Api\ServerToServerNotificationV2WebhookApiHandler
	- Crm\AppleAppstoreModule\Hermes\ServerToServerNotificationV2WebhookHandler(@serverToServerNotificationV2Processor)
