config:
	shared_secret:
		display_name: Apple shared secret
		description: "Shared secret <i>(občas označené ako 'password')</i> aplikácie. Nájdete ho v <i>AppStore Connect -> Features Tab -> In-app Purchases</i>."
	gateway_mode:
		name: Apple ITunes gateway mode
		description: 'Prepínač pre "test" (sandbox) mód alebo "live" (production) mód'
